<!DOCTYPE html>
<html lang="en" >

<head>
<title>WDYKH</title>
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<style>
body{
    background-image: url('https://media.giphy.com/media/R8z1nQE0apDr2/giphy.gif');
    background-size: cover;
    font-family: 'Bungee', cursive;
    font-size: 70px;
}

</style>

</head>

<body>
<center>
<div class="myclass"><h1>WHO DO YOU KNOW HERE?</h1></div>
<a href="/attendees"><div style="font-size: 30px;">CLICK TO FIND OUT</div></a>


</body>

</html>
